doctype html
html
    head
        title= title
    link(rel='stylesheet', href='/stylesheets/custom.css')
    body

    form(action='/check-code' method='post')
        .container
            label(for='email')
                b Введите код из смс


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")


