doctype html
html
    head
        title= title
    link(rel='stylesheet', href='/stylesheets/custom.css')
    body

    form(action='/auth/change-password' method='post')
        .container
            label(for='password')
                b Введите пароль
            input(type='password' placeholder='Введите пароль' name='password' id='password')
            label(for='confirm_password')
                b Подтвердить Пароль
            input(type='password' placeholder='Подтвердить Пароль' name='confirm_password' id='confirm_password' )
            button(type='submit') Вход


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script.
    var error2 = !{error};
    for (var i = 0; i < error2.length; i++) {
        $('#' + error2[i].param).addClass('is-invalid')
        $('label[for="' + error2[i].param + '"]').html(error2[i].msg)
        $('label[for="' + error2[i].param + '"]').attr('style', 'color:red')
    }

